extends ../layouts/main-layout

block variables
	-var pageTitle= 'ZXC - post'

block main
	include ../includes/headers/header-default
	include ../includes/sections/single
	include ../includes/footers/footer
	
block modal
	include ../includes/modals/modal