.cloud {
	margin-top: 64px;

	h2 {
		font-weight: 700;
		font-size: 24px;
		line-height: 1.5;
		color: #032305;
		
		@include media(sm) {
			font-size: 18px;
		}
	}

	p {
		margin-top: 13px;
		font-weight: 400;
		font-size: 15px;
		line-height: 1.5;
		color: #032305;
	}

	.col {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.important-message {
	position: relative;
	padding: 47px 24px 32px;
	background: #ffd0d0;
	border-radius: 6px;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	color: #4a0b0b;

	svg {
		position: absolute;
		top: -28px;
		left: 20px;
		width: 58px;
		height: 63px;
	}

	h3 {
		font-weight: 700;
		color: #e83232;
	}
}
