//*** Popular Block ***
section.popular
	.container
		h2.popular__title
			|Популярное

		ul.popular__list
			li.popular__item
				a.popular__card.post-card(href="./single.html")
					.post-card__image
						img(src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|База знаний
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			li.popular__item
				a.popular__card.post-card(href="./single.html")
					.post-card__image
						img(src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|База знаний
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			li.popular__item
				a.popular__card.post-card(href="./single.html")
					.post-card__image
						img(src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|База знаний
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
//*** End Popular Block ***

//*** Knowledge Block ***
section.knowledge.posts-slider
	.container
		.posts-slider__head
			h2.posts-slider__title
				|База знаний
			.posts-slider__arrows
				button.posts-slider__arrow.posts-slider__arrow--prev
					span
				button.posts-slider__arrow.posts-slider__arrow--next
					span

		.posts-slider__list
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|База знаний
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|База знаний
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|База знаний
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|База знаний
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|База знаний
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
//*** End Knowledge Block ***

//*** Equipment Block ***
section.equipment.posts-slider
	.container
		.posts-slider__head
			h2.posts-slider__title
				|Оборудование
			.posts-slider__arrows
				button.posts-slider__arrow.posts-slider__arrow--prev
					span
				button.posts-slider__arrow.posts-slider__arrow--next
					span

		.posts-slider__list
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|Оборудование
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|Оборудование
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|Оборудование
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|Оборудование
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|Оборудование
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
//*** End Equipment Block ***

//*** Banner Subscribe Block ***
section.banner-subscribe
	.container
		.banner-subscribe__wrapper
			.banner-subscribe__bg.lazy(data-src="./assets/img/banner-subscribe-bg.svg")

			h2.banner-subscribe__title
				|ZXC Pool

			.banner-subscribe__description
				|Подписывайтесь и узнавайте всё о майнинге в России и мире, а также новости нашего пула и крипто-индустрии в целом.
			
			button.banner-subscribe__btn.button.button--white
				svg.button__bg
					use(xlink:href="./assets/img/sprite.svg#btn-white")
				span
					|Подписаться
//*** End Banner Subscribe Block ***

//*** Update Block ***
section.update.posts-slider
	.container
		.posts-slider__head
			h2.posts-slider__title
				|Обновление
			.posts-slider__arrows
				button.posts-slider__arrow.posts-slider__arrow--prev
					span
				button.posts-slider__arrow.posts-slider__arrow--next
					span

		.posts-slider__list
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|Обновление
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|Обновление
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|Обновление
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|Обновление
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
			.posts-slider__item
				a.posts-slider__card.post-card(href="./single.html")
					.post-card__image
						img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
					.post-card__category
						|Обновление
					h3.post-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					.post-card__info
						.post-card__date
							|04.04.2022
						.post-card__views
							svg
								use(xlink:href="./assets/img/sprite.svg#eye")
							span
								|18356
						.post-card__coins
							.post-card__coin-icon
								svg
									use(xlink:href="./assets/img/sprite.svg#bitcoin")
							span
								|2
//*** End Update Block ***

//*** About Mining Block ***
section.about-mining
	.container
		.about-mining__bg.lazy(data-src="./assets/img/about-mining-bg.png")

		.about-mining__content
			h2.about-mining__title
				|Все о майнинге в России и мире
				
			.about-mining__description
				|Это определение используется для обозначения вычислительной мощности устройств добычи криптовалюты. По этому показателю можно определить скорость решения криптографической задачи у устройства, соответственно, чем выше хешрейт, тем мощнее оборудование. Цифра хешрейта обозначает количество вычислительных действий в секунду, которое может провести майнинговое устройство.
				
			.about-mining__popular-themes.popular-themes
				h3.popular-themes__title
					|Среди самых популярных тем на сайте:
				ul.popular-themes__list
					li.popular-themes__item
						a(href="#")
							|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					li.popular-themes__item
						a(href="#")
							|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					li.popular-themes__item
						a(href="#")
							|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					li.popular-themes__item
						a(href="#")
							|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					li.popular-themes__item
						a(href="#")
							|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
//*** End About Mining Block ***