.container
	.main__content

		//*** Post Title Block ***
		section.post-title
			h1
				|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?

			.post-title__indicators.indicators
				.indicators__thanks
					.indicators__thanks-icon
						svg
							use(xlink:href="./assets/img/sprite.svg#bitcoin")
					span
						|2 благодарности 
						br 
						|за статью
				.indicators__views
					svg
						use(xlink:href="./assets/img/sprite.svg#eye")
					span
						|18356
			
			p
				|В этой статье вы узнаете: Что такое хешрейт в майнинге, в чем измеряется хешрейт, как распределяется хешрейт, что влияет на хешрейт, сложность майнинга и вознаграждение, алгоритмы, и как они влияют на хэшрейт, статистика и оборудование, хешрейт в облаке, выбор устройств для получения высокого хешрейта, как узнать уровень хешрейта, история хэшрейта Биткойнов, текущая скорость хеширования Биткойнов и  можно ли поменять свой хешрейт.
		
			ul.post-title__tags-list
				li.post-title__tag
					a(href="#")
						|Что такое хештрейт?
				li.post-title__tag
					a(href="#")
						|Единица измерения
				li.post-title__tag
					a(href="#")
						|Распределение
				li.post-title__tag
					a(href="#")
						|Сложность майнинга и вознаграждение
				li.post-title__tag
					a(href="#")
						|Алгоритмы
				li.post-title__tag
					a(href="#")
						|Оборудование
				li.post-title__tag
					a(href="#")
						|Хеш в облаке
				li.post-title__tag
					a(href="#")
						|Выбор устройства
				li.post-title__tag
					a(href="#")
						|Уровень хеша
				li.post-title__tag
					a(href="#")
						|История
				li.post-title__tag
					a(href="#")
						|Скорость
				li.post-title__tag
					a(href="#")
						|Поменять хешрейт
		//*** End Post Title Block ***

		//*** Post About Block ***
		section.post-about
			h2
				|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?


			p
				b
					|Хешрейт
				| (скорость хеширования) – это один из самых важных показателей в процессе майнинга криптовалюты.
			p
				|Разберем, что такое хешрейт в майнинге простыми словами.
			p
				|Это определение используется для обозначения вычислительной мощности устройств добычи криптовалюты. По этому показателю можно определить скорость решения криптографической задачи у устройства, соответственно, чем выше хешрейт, тем мощнее оборудование. Цифра хешрейта обозначает количество вычислительных действий в секунду, которое может провести майнинговое устройство.
			p
				|Обобщая вышесказанное, использование техники с высоким уровнем хешрейта приводит к более успешной добыче блоков в сети. Как известно из определения майнинга, каждый майнер, добывший блок, получает вознаграждение в качестве криптовалюты. Эта криптовалюта в свою очередь соответствует блокчейну, с которым, работает майнер.
			p
				|Главная суть определения хешрейта теперь ясна, однако этот термин также применяется майнерами в отношении нескольких направлений в майнинге: блокчейн, майнинг пулы, ноды и техника. Разберем, что термин &lt;&lt;хешрейт&gt;&gt; определяет в каждом из них.

			ol.post-about__list
				li.post-about__item.row
					.col.post-about__item-text
						|В случае с крипто сетями, то есть блокчейнами, мы определили, что хешрейт обозначает количество вычислений в секунду.
					.col.post-about__item-image
						img(loading="lazy" src="./assets/img/post-img1.jpg" alt="изображение")
				li.post-about__item.row
					.col.post-about__item-text
						|Майнинг пулы – это сообщества, которые занимается добычей криптовалют совместно. Пул это сервер, который распределяет задачи между его участниками. Они, используя оборудование, находят решения задач, добывают блоки, и разделяют вознаграждения между собой. Хешрейт в данном случае обозначает совокупную мощность команды майнеров, то есть общую мощность оборудований участников пула.
					.col.post-about__item-image
						img(loading="lazy" src="./assets/img/post-img1.jpg" alt="изображение")
		//*** End Post About Block ***

		//*** Measurement Block ***
		section.measurement
			h2
				|В чем измеряется хешрейт/ Что такое мегахэш и терахэш в майнинге

			p
				|Понимая, что такое хешрейт в майнинге, разберем, в чем и как он измеряется. Порой новые пользователи встречаются с частым появлением неких единиц. Разберемся, что такое mh s, th s, h s в майнинге простыми словами.
			p
				|Для определения вычислительной скорости используется показатель H/s, который обозначает количество операций в секунду. Разумеется, у разных блокчейнов и криптовалют присутствует отличие в количестве операций (h/s). Для этого были придуманы уточняющие единицы измерения:

			table.measurement__table.table
				tr
					th
						|Единица измерения хешрейта
					th
						|Количество операций в секунду
				tr
					td
						|MH/s - Мегахэш
					td
						|1 миллион
				tr
					td
						|GH/s - Гигахэш
					td
						|1 миллиард
				tr
					td
						|TH/s - Терахэш
					td
						|1 триллион
				tr
					td
						|EH/s - Эксахэш
					td
						|1 квинтиллион
				tr
					td
						|KH/s - Килохэш
					td
						|1 тысяча

			.row
				.col
					h3
						|Величина hashrate зависит от определенных параметров, также и, как было замечено ранее, уровни хешрейта у монет различаются.

					p
						|К примеру, у монеты ZEC хешрейт составляет 6.9 GH/s, то есть для успешного выполнения задач в сети монеты потребуется сделать 6,9 миллиардов операций в секунду.
					p
						|У Биткоина уже другой уровень, его хешрейт составляет 196.5 EH/s, то есть потребуется успешно выполнить 196 квинтиллиона операций в секунду. 
					p
						|Цифра действительно очень внушительная и для выполнения соответственного количества операций потребуется очень мощное оборудование, для примера, с таким объемом тяжело будет справиться даже целой криптовалютной ферме. Именно по этой причине и были созданы пулы для совместной добычи.
				.col
					img(loading="lazy" src="./assets/img/post-img1.jpg" alt="изображение")
					
					p
						|Теперь разберемся подробней в единицах измерения хешрейта. Как было сказано ранее изначальная и главная единица это хеши в секунду. 
					p
						|Из основных также выделяют мегахеши и терахеши. Один мегахеш равен 1000000 хешей, а для того, чтобы вычислить, сколько мегахешей содержится в других единицах, стоит умножить мегахеш на десятичный множитель, таким образом:
	
			.measurement__note
				|1 Гх (гигахеш) = 1000 Мх (мегахеш); 1 Зх (зетахеш) = 1.000.000.000.000.000 Мх.
	
		//*** End Measurement Block ***

		//*** Find Block ***
		section.find
			h2
				|Как узнать хешрейт видеокарты и процессора
			
			p
				|Если видеокарта еще не была приобретена, то информации о ее характеристиках можно узнать на специальных сайтах, к примеру “What To MIne”. Разумеется, что в заводских настройках и характеристиках значения,  как  хешрейт нет. 
			p
				|Однако, опытные майнеры и пользователи выкладывают информацию, как раз на порталах и сайтах, как выше сказанный. What to mine, также рассчитает потребление электроэнергии и потенциальную прибыль.

			.hashrate-note
				svg
					use(xlink:href="./assets/img/sprite.svg#hashrate")
				span
					|Хешрейт зависит от модели видеокарты и вида алгоритма, который используется для хеширования.
			
			p
				|Порой, видео карта может не соответствовать требуемым параметрам, нужным для успешного майнинга, но с этой проблемой можно справиться, разогнав видеокарту.
	
			.text-on-image.lazy(data-src="./assets/img/hashrate.jpg")
				div
					|Разогнать видеокарту можно через специальные программы, к примеру, MSI Afterburner или другие. Посмотреть, как разогнать видео карту вы можете во многих обзорах, к примеру, на ютубе.


			p
				|Если для майнинга, вы решите использовать мощность процессора, его хешрейт можно будет узнать с помощью специального ПО, например Claymoru CPU. Без открытых поверх окон и программ, дайте возможность данному ПО поработать, потом на специальной вкладке в программе, вы увидите ваш хешрейт.

		//*** End Find Block ***

		//*** Post Equipment Block ***
		section.post-equipment
			h2
				|Как узнать хешрейт видеокарты и процессора
			
			p
				|Теперь стоит обсудить самое важное – какое оборудование используется для майнинга и какой хешрейт можно назвать выгодным.

			p
				|Начнем с оборудования.

			.row
				.col
					p
						b
							|Видеокарты
						| – это пожалуй самый оптимальный вариант для майнинга в самостоятельных условиях. Видеокарты обладают высокой скоростью и производительностью и очень практичны. 
					p
						|Если, к примеру, вас уже не будет так интересовать майнинг, вы всегда сможете выгодно продать видеокарту или использовать для других занятий.

					img(loading="lazy" src="./assets/img/post-img1.jpg" alt="изображение")
					
					p
						|FPGA-платы – это наименее популярный метод добычи. Эти полупроводниковые платы можно использовать совместно с обыкновенным ПК, подключая через USB порт.
					p
						|По производительности они также не особо уступают видеокартам, и у них даже есть свое преимущество, оно заключается в сниженном потреблении электроэнергии.

					h3
						|Теперь затронем тему выгодного хешрейта.

					p
						|Для начала разберемся, что влияет на рентабельность майнинга:

					ul
						li   
							|Сложность майнинга в определенном блокчейне
						li   
							|Вознаграждения за добычу
						li   
							|Мощность оборудования
						li   
							|Цены на устройства
						li   
							|Цены на электроэнергию
				.col
					img(loading="lazy" src="./assets/img/post-img1.jpg" alt="изображение")

					p
						b
							|ASIC
						| – эти устройства более профессиональны, они используются только в целях добычи криптовалюты, в отличии от видеокарт. Их производительность и скорость добычи значительно выше. Цена на ASIC, также значительно выше, чем у видеокарт 
					p
						|Обычно асики не используют в единичных экземпляров, их покупают для использования на фермах. Применяются они в основном для вычисления самых сложных задач, к примеру, добыча биткоина.

					img(loading="lazy" src="./assets/img/post-img1.jpg" alt="изображение")

					p
						|Выгодный хешрейт потребуется рассчитать либо вручную, либо через специальные приложения. 

					h3
						|Вводными данными будут:

					ol
						li   
							|Общая скорость хэширования в сети
						li   
							|Энергопотребление
						li   
							|Комиссия майнинг пула
						li   
							|Цена за 1 кВт/ч


		//*** End Post Equipment Block ***


		//*** Cloud Block ***
		section.cloud
			h2
				|Хешрейт в облаке

			p
				|Для начала разберемся, что такое облачный майнинг, от чего он зависит и как работает.

			.row
				.col
					p
						|Относительно недавно был разработан данный метод для добычи криптовалют. С облачным майнингом вам не нужно покупать компьютерное оборудование, асики и прочие устройства. 
					p
						|Вы можете взять в аренду свободную вычислительную мощность. Аренда происходит по тарифам указанных на подобных сервисах, но иногда можно встретить, что услуги оплачиваются за гига лил терахеш в долларах. 
				.col
					.important-message
						svg
							use(xlink:href="./assets/img/sprite.svg#important")
						h3
							|Важно!
						div
							|Облачный майнинг охвачен мошенниками, так как услуги предложить легко. Настоятельно рекомендуем проверять сервисы с которыми вы собираетесь работать.

			p
				|Особенно сейчас подобная модель сотрудничества выгодна для обеих сторон, так как сложность майнинга увеличивается, цена на главную криптовалюту падает, тем самым облачный майнинг становится более популярным.

		//*** End Cloud Block ***

		//*** More Block ***
		section.more
			h2.more__title
				|Читайте также:

			.more__cards-list
				a.more__card.more-card(href="#") 
					h3.more-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					div.more-card__link
						|Подробнее
						i

				a.more__card.more-card(href="#") 
					h3.more-card__title
						|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
					div.more-card__link
						|Подробнее
						i


			.more__description
				p
					|Для того, чтобы удачно найти правильный сервис потребуется обращать внимание на некоторые важные моменты. Стоит выбирать среди сервисов, которые не бояться показывать главную информацию, так как инфраструктура компании облачного майнинга очень важна. На то, как давно работает сервис не так важно обращать внимание, потому что, не сложно подделать эти данные. Обращайте внимание на срок окупаемости вложений. Правильный срок идет от 6 до 12 месяцев, если вы видите недельные значения или пару месяцев, можете считать, что вы столкнулись с мошенниками.

			.more__connect
				.more__connect-text 
					|Подключиться к майнинг пулу легко, можно даже через Telegram
				button.more__connect-btn.button.button--green
					i.button__bg
					span
						|Подключиться через бота
					svg.header__connect-tg
						use(xlink:href="./assets/img/sprite.svg#tg")
		//*** End More Block ***

		//*** FAQ Block ***
		section.faq
			h2.faq__title
				|Частые вопросы

			ul.faq__list
				li.faq__item
					.faq__item-head
						|Подключиться к майнинг пулу легко, можно даже через Telegram
					.faq__item-body
						.faq__item-content
							|Для того, чтобы удачно найти правильный сервис потребуется обращать внимание на некоторые важные моменты. Стоит выбирать среди сервисов, которые не бояться показывать главную информацию, так как инфраструктура компании облачного майнинга очень важна.
				li.faq__item
					.faq__item-head
						|Подключиться к майнинг пулу легко, можно даже через Telegram
					.faq__item-body
						.faq__item-content
							|Для того, чтобы удачно найти правильный сервис потребуется обращать внимание на некоторые важные моменты. Стоит выбирать среди сервисов, которые не бояться показывать главную информацию, так как инфраструктура компании облачного майнинга очень важна.
				li.faq__item
					.faq__item-head
						|Подключиться к майнинг пулу легко, можно даже через Telegram
					.faq__item-body
						.faq__item-content
							|Для того, чтобы удачно найти правильный сервис потребуется обращать внимание на некоторые важные моменты. Стоит выбирать среди сервисов, которые не бояться показывать главную информацию, так как инфраструктура компании облачного майнинга очень важна.
		//*** End FAQ Block ***
		
		//*** Post Footer Block ***
		section.post-footer
			.post-footer__head
				h2
					|Полезная статья?
				div
					|Поставьте лайк автору и поделитесь в соц. сетях
			.post-footer__thanks.post-thanks
				.post-thanks__icon
					svg
						use(xlink:href="./assets/img/sprite.svg#bitcoin")
				.post-thanks__number
					|2
				.post-thanks__text
					|благодарности
					br
					| за статью
			ul.post-footer__socials.socials
				li.socials__item.socials__item--tg
					a(href="#")
						svg
							use(xlink:href="./assets/img/sprite.svg#tg")
				li.socials__item.socials__item--vk
					a(href="#")
						svg
							use(xlink:href="./assets/img/sprite.svg#vk")
		//*** End Post Footer Block ***

		//*** Similar Block ***
		section.similar
			h2.similar__title
				|Посмотрите похожие статьи
			
			ul.similar__list
				li.similar__item
					a.similar__card.post-card(href="./single.html")
						.post-card__image
							img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
						.post-card__category
							|База знаний
						h3.post-card__title
							|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
						.post-card__info
							.post-card__date
								|04.04.2022
							.post-card__views
								svg
									use(xlink:href="./assets/img/sprite.svg#eye")
								span
									|18356
							.post-card__coins
								.post-card__coin-icon
									svg
										use(xlink:href="./assets/img/sprite.svg#bitcoin")
								span
									|2
				li.similar__item
					a.similar__card.post-card(href="./single.html")
						.post-card__image
							img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
						.post-card__category
							|База знаний
						h3.post-card__title
							|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
						.post-card__info
							.post-card__date
								|04.04.2022
							.post-card__views
								svg
									use(xlink:href="./assets/img/sprite.svg#eye")
								span
									|18356
							.post-card__coins
								.post-card__coin-icon
									svg
										use(xlink:href="./assets/img/sprite.svg#bitcoin")
								span
									|2
				li.similar__item
					a.similar__card.post-card(href="./single.html")
						.post-card__image
							img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
						.post-card__category
							|База знаний
						h3.post-card__title
							|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
						.post-card__info
							.post-card__date
								|04.04.2022
							.post-card__views
								svg
									use(xlink:href="./assets/img/sprite.svg#eye")
								span
									|18356
							.post-card__coins
								.post-card__coin-icon
									svg
										use(xlink:href="./assets/img/sprite.svg#bitcoin")
								span
									|2
				li.similar__item
					a.similar__card.post-card(href="./single.html")
						.post-card__image
							img(loading="lazy" src="./assets/img/post-image.jpg" alt="изображение поста")
						.post-card__category
							|База знаний
						h3.post-card__title
							|Что такое хешрейт в майнинге (hashrate) и в чем измеряется?
						.post-card__info
							.post-card__date
								|04.04.2022
							.post-card__views
								svg
									use(xlink:href="./assets/img/sprite.svg#eye")
								span
									|18356
							.post-card__coins
								.post-card__coin-icon
									svg
										use(xlink:href="./assets/img/sprite.svg#bitcoin")
								span
									|2
		//*** End Similar Block ***

		//*** Feedback Block ***
		section.feedback
			form.feedback__form.form(action="#" method="post")
				.form__field
					textarea(name="your-message" placeholder="Ваш комментарий" required) 
				.row
					.col.form__field
						input(type="text" name="your-name" placeholder="Ваше имя")
					.col.form__field
						input(type="email" name="your-mail" placeholder="E-mail (необязательно)")
				.row.form__bottom
					.col
						button.form__btn.button.button--green(type="submit")
							i.button__bg
							span
								|Добавить комментарий
					
					.col
						.form__agreement
							|Нажимая кнопку вы соглашаетесь с 
							a(href="#") 
								|политикой конфиденциальности 
							|и правилами сайта изложенными в 
							a(href="#") 
								|пользовательском соглашении		
		//*** End Feedback Block ***



	//*** Sidebar Block ***
	aside.main__sidebar.sidebar
		.sidebar__post-card
			.sidebar__post-image
				img(src="./assets/img/post-image.jpg" alt="изображение поста")
			.sidebar__post-category
				|База знаний
	//*** End Sidebar Block ***